<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<style>
  body{
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
  }
  </style>
    <title>Create</title>
  </head>
  <body>
    <ul class="nav justify-content-center p-4">
      <li class="nav-item">
        <a class="nav-link btn-primary text-dark rounded" href="/">Create</a>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item ">
        <a class="nav-link btn-warning text-dark rounded" href="/Read">Read</a>
      </li>
    </ul>
    <div class="container pt-3" style="width: 40%">
      <h1 class="text-center">Insert Data using node js</h1>
      <hr/>
      <form action="" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="text" class="form-control" name="email" />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Message</label>
          <input type="text" class="form-control" name="message" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br /><br />
      <p></p>
    </div>
  </body>
</html>
